body{
    background-color:#ccc;
    font-family: AgencyFB-Reg;
}
tspan{
    font-family: AgencyFB-Reg;
}
@font-face
{
  font-family: AgencyFB-Reg;
  src: url('./fonts/AgencyFB-Reg.ttf');
}